body{
  background-color:#607D8B;
}
*{      text-shadow:0 0 0;
font-family:Open Sans
}
.ui-body-c, .ui-body-c input, .ui-body-c select, .ui-body-c textarea, .ui-body-c button {
    font-family: Open Sans;
}
h1{
  font-family: 'Lato', sans-serif;
  font-weight:300;
}
#chatbox{
  border:1px solid white;
  border-radius:5px;
  padding:3px;
}
#bell{
  padding-top:10px;
  width:50px;
  height:50px;
  text-align:center;
}

@-moz-keyframes wobble  {
  0%  { -webkit-transform:  rotate(0deg); }
  20%  { -webkit-transform:  rotate(10deg); }
  50%  { -webkit-transform:  rotate(-10deg); }
  100%  { -webkit-transform:  rotate(0deg); }
}
@-webkit-keyframes wobble  {
  0%  { -webkit-transform:  rotate(0deg); }
  20%  { -webkit-transform:  rotate(10deg); }
  50%  { -webkit-transform:  rotate(-10deg); }
  100%  { -webkit-transform:  rotate(0deg); }
}
@keyframes wobble  {
  0%  { -webkit-transform:  rotate(0deg); }
  20%  { -webkit-transform:  rotate(10deg); }
  50%  { -webkit-transform:  rotate(-10deg); }
  100%  { -webkit-transform:  rotate(0deg); }
}
.spin{
      -webkit-animation:wobble 500ms linear;
    -moz-animation:wobble 500ms linear;
    animation:wobble 500ms linear;
}
#messagebox{
  font-family:Lato, Arial;
}
#messagebox td{padding:0px;}
#messagebox ul{
    list-style-type: none;
    list-style-position: inside;
    padding:10px;
    overflow-y:scroll;
    height:300px;
    
}

#messagebox li{
    color:white;
    padding:5px;
    font-size:11pt;
    background-color:#607D8B;
    border-bottom: 2px solid #263238;
}
#messagebox li:nth-child(odd) {background-color:#455A64}
#messagebox li span{
    float:right;
    color:#B0BEC5;
    font-style:italic;
}
#labelbox{
  font-size:11pt;
  padding:0px 20px 0px 20px;
}


#inputbox{
  padding: 0px 20px 10px 20px;
  display:inlinel
}
#inputbo input{
  color:blue;
}
.center{margin:0 auto; text-align:center;}
.checkbtn{
  float:right;

}
