body {
	background-color:#00BCD4;
	
}
.main {
	width:1100px;
  min-height:700px;
	color:black;
	background-color:white;
	min-height:800px;
	margin:50px;
	margin:0 auto;
  padding:20px;
}
.main p{
	font-family: Roboto, arial;
	padding:25px;

}
@keyframes mymove {
	0% {letter-spacing:1px; color:#00BCD4;}
    50% {letter-spacing: 12px; color:black;}
}
/*Main page title*/
.title {
	animation:mymove 5s;
	font-family: Open Sans, sans-serif;
	letter-spacing: 12px;
	width:1100px;
	color:black;
	margin:auto;
	
}
/*Sub-title for inside gamebox*/
.subtitle{
	font-family:Open Sans, arial;
	text-align:center;
  padding:0;
}

.greenbutton {
  margin-top:20px;
  font-size:12pt;
  font-family: calibri; 
  text-transform: uppercase;
  border:1px solid #73af00;
  color:black;
  background-color:#9DE11A;
  padding:5px;
  transition: 250ms;
}

.greenbutton:hover {
  background-color: #e4e4e4;
  border: 1px solid #d7d7d7;
box-shadow: 7px 7px 7px #888888;
cursor: crosshair;
}

/* Container for the main game */
#gamebox {
	color:black;
	height:600px;
	width:950px;
	border:1px solid black;
	padding:10px;
	margin:0 auto;
}
#gametable{
  padding:0;
  width:100%;
  height:520px;
  border-collapse:collapse;
}
#chatcell{
  width:198px;
  border:1px solid black;
}
#contentcell{
  width:792px;
  border:1px solid black;
}
#messagecell{
  height:110px;
}

/* Frame1 prompts the player for what kind of game they want to play*/
#initframe {
	font-family: Roboto, arial;
	color:black;
	width:100%;
	height:100%;
	padding:20px;
}
#initframe table{
	table-layout:fixed;
	width:70%;
	margin:0 auto;
	border-collapse:collapse;
}
#initframe td{
	text-align:center;
  background-color:white;
	border:1px solid black;
	padding:10px;
	padding-top:25px;
  transition: 250ms;
}
#initframe td:hover{
   filter: invert(1);
	-webkit-filter: invert(1);
	-moz-filter: invert(1);
	-o-filter: invert(1);
	-ms-filter: invert(1);
  transition: 250ms;
}
#initframe th{
	font-family: Roboto, arial;
	font-weight:bold;
	border:1px solid black;
}
#initframe p{
	padding:20px;
}
#initframe img{
	height:100px;
	width: 100px;
	transition:500ms;
}

/* Frame2 user plays against a computer */
#singleframe {
  height:100%;
}


/* Frame3 user plays against another user */
#frame3 {
	width:50%;
	margin:0 auto;
}
#chatbox{
  width:400px;
  height:500px;
  border:1px solid black;
  padding:3px;
  background-color:#607D8B;
  border: 5px solid #039BE5;
  border-radius:10px;
}
#messagebox{
  height:450px;
}
#messagebox td{padding:0px;}
#messagebox ul{
  list-style-type: none;
  list-style-position: inside;
    padding:1px;
}
#messagebox li{
    text-align:left;
    color:white;
    padding:5px;
    font-size:10pt;
    margin:5px;
    border: 1px solid #263238;
    border-radius:5px;
    white-space: nowrap;
}

#inputbox{
  height:50px;
  border-top:1px solid black;
  margin:0 auto;
  color:white;
  font-size:13pt;
}
#inputbox input{
  border:1px solid black;
  height:15px;
  width:300px;
}
#inputheader{
  font-size:10pt;
}
.content{
	
}
.hidden {
	display:none;
}
